.top-menu {
    background-color: white; 
    padding: 10px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.top-menu nav {
    text-align: center; 
}

.top-menu nav ul {
    list-style-type: none; 
    padding: 0;
}

.top-menu nav ul li {
    display: inline-block; 
    margin: 0 10px; 
}

.a {
   text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    font-size: 16px; 
}

.a:hover {
    color: #007bff; 
}


body{
    background-image: url('./img/back1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: #849db8;
    padding: 20px;
    margin-top: 60px;
    width: auto;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main h1{
    color: #333;
    font-size: 50px;
}
.wrap{
    position: relative;
    top: -150px;
    left: -300px;
}
.wrap1{
    position: absolute;
    top: 50px;
    left: 800px;
}
.main1 h1, h2{
    color: #333;
    font-size: 55px;
}
.main1 h1{
    font-size: 80px;
}
.wrap3{
    position: absolute;
    top: 350px;
    left: 180px;
}
.main3 h1{
    color:#333;
    font-size: 50px;
}
.main3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    justify-items: center;
}