body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
body {
    background-image: url('./img/back1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: #849db8;
    padding: 20px;
    margin-top: 60px;
    width: 100%;
    max-width: 1200px;
    height: 1800px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  