.hero{
    height: 100vh;
    background-color: rgb(182, 198, 211);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    font-size: 70px;
    font-weight: 700;
}
.hand{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand img{
    width: 105px;
}
.hero-l{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: rgb(241, 29, 29);
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
}
.hero-r{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}