  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5;
  }
  
  .contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .contact img {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .contact img:hover{
    width: 65px;
    height: 65px;
    transition: 0.2s ease-in-out;
  }
  
  .form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-toggle button {
    background: #f5f5f5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 10px;

  }
  
  .form-toggle .active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
  
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-container .input-group {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .form-container button:hover {
    background: #0056b3;
  }
  
  .sabziro body{
    height: 500px;
  }
  body{
    height: auto;
  }